
<div class="container">

    <h1>Agregar Tipo de Producto</h1>
  
    <mat-form-field class="example-full-width">
      <mat-label>Tipo</mat-label>
      <input matInput placeholder="id" [(ngModel)]="tipo_producto.id">
    </mat-form-field>
  
    <br>
  
    <mat-form-field class="example-full-width">
      <mat-label>Tipo</mat-label>
      <input matInput required placeholder="nombre" [(ngModel)]="tipo_producto.tipo">
    </mat-form-field>
  
    
  
    
    <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
    <button mat-raised-button color="warn" routerLink="/home/page/tipo-producto">Cancelar</button>
    <p>{{mensaje}}</p>
  
  </div>
  