
<div class="container">

    <h1>Agregar Tipo de Producto</h1>
  
    <mat-form-field class="example-full-width">
      <mat-label>idTipoProducto</mat-label>
      <input matInput placeholder="idTipoProducto" [(ngModel)]="tipo_producto.idTipoProducto">
    </mat-form-field>
  
    <br>
  
    <mat-form-field class="example-full-width">
      <mat-label>tipoTipoProducto</mat-label>
      <input matInput required placeholder="tipoTipoProducto" [(ngModel)]="tipo_producto.tipoTipoProducto">
    </mat-form-field>
  
    
  
    
    <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
    <button mat-raised-button color="warn" routerLink="/home/login/page/tipo-producto">Cancelar</button>
    <p>{{mensaje}}</p>
  
  </div>
  