/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: #FF8A05;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    background-size: auto;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 70px;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.nav-link {
    font-weight: 600;
    padding-right: 10px;
    text-decoration: none;
    color: black;
    font: bold 3rem 'Maven Pro', san-serif;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
}

#dis {
    display: flex;
    padding-bottom: 0;
    padding-right: 0px;
}

html,
body {
    height: 100%;

}

body {
    background-image: url('https://yerbamateargentina.org.ar/imagenes/archivos/imagenes/7408_imagen.jpg');
    resize: both;
    overflow: auto;
    background-size: contain;
    background-repeat: round;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}