<br>
<header>
    <a style="color:white;font: bold 3rem 'Maven Pro', san-serif;" routerLink="/home/page"
        class="nav-link">CreateDev</a>
    <nav id="dis">
        <a routerLink="/home/page/usuarios" class="nav-link">Usuarios</a>
        <a routerLink="/home/page/pedido" class="nav-link">Pedido</a>
        <a routerLink="/home/page/compra" class="nav-link">Compra</a>
        <a routerLink="/home/page/tipo-comprobante" class="nav-link">Tipo comprobante</a>
        <a routerLink="/home/page/tipo-producto" class="nav-link">Tipo de Producto</a>
        <a routerLink="/home/page/producto" class="nav-link">Producto</a>
    </nav>
</header>
<br>
<router-outlet></router-outlet>