<br>
<header>
    <a style="color:white;font: bold 3rem 'Maven Pro', san-serif;" routerLink="/home/page"
        class="nav-link">CreateDev</a>
    <nav id="dis">
        <a routerLink="/home/page/Usuarios" class="nav-link">Usuarios</a>
        <a routerLink="/home/page/clientes" class="nav-link">Clientes</a>
        <a routerLink="/home/page/pedido" class="nav-link">Pedidos</a>
        <a routerLink="/home/page/compra" class="nav-link">Compras</a>
        <a routerLink="/home/page/tipo-comprobante" class="nav-link">Tipo de comprobantes</a>
        <a routerLink="/home/page/tipo-producto" class="nav-link">Tipo de productos</a>
        <a routerLink="/home/page/producto" class="nav-link">Productos</a>
        <a routerLink="/home/page/solicitud" class="nav-link">Solicitudes</a>
    </nav>
</header>
<br>
<router-outlet></router-outlet>