<br>
<header>
    <a style="color:rgb(255, 255, 255);font: bold 3rem 'Maven Pro', san-serif;" routerLink="/home/page"
        class="nav-link">CreateDev</a>
    <nav id="dis">
        <a routerLink="/home/login/page/Usuarios" class="nav-link">Usuarios</a>
        <a routerLink="/home/login/page/clientes" class="nav-link">Clientes</a>
        <a routerLink="/home/login/page/artesanos" class="nav-link">Artesanos</a>
        <a routerLink="/home/login/page/pedido" class="nav-link">Pedidos</a>
        <a routerLink="/home/login/page/compra" class="nav-link">Compras</a>
        <a routerLink="/home/login/page/detallecompras" class="nav-link">Detalles de Compras</a>
        <a routerLink="/home/login/page/tipo-comprobante" class="nav-link">Tipo de comprobantes</a>
        <a routerLink="/home/login/page/tipo-producto" class="nav-link">Tipo de productos</a>
        <a routerLink="/home/login/page/producto" class="nav-link">Productos</a>
        <a routerLink="/home/login/page/solicitud" class="nav-link">Solicitudes</a>
        
    </nav>
</header>
<br>
<router-outlet></router-outlet>