<div class="container">
    <div style=" text-align: center;">
      <h1 style="font-size: 80px; background-color:#FF8A05;color: rgb(255, 255, 255)">Lista de Compras</h1>
    </div>

    <app-compra-buscar></app-compra-buscar>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="nombre_usuario">
            <th mat-header-cell *matHeaderCellDef> Nombre del Cliente </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre_usuario}} </td>
        </ng-container>

        <ng-container matColumnDef="cantidad_total">
            <th mat-header-cell *matHeaderCellDef> Cantidad Total </th>
            <td mat-cell *matCellDef="let element"> {{element.cantidad_total}} </td>
        </ng-container>


        <ng-container matColumnDef="precio_total">
            <th mat-header-cell *matHeaderCellDef> Precio Total </th>
            <td mat-cell *matCellDef="let element"> {{element.precio_total}} </td>
        </ng-container>


        <ng-container matColumnDef="peso_total">
            <th mat-header-cell *matHeaderCellDef> Peso Total </th>
            <td mat-cell *matCellDef="let element"> {{element.peso_total}} </td>
        </ng-container>


        <ng-container matColumnDef="tipo_comprobante">
            <th mat-header-cell *matHeaderCellDef> Id del Tipo de Comprobante </th>
            <td mat-cell *matCellDef="let element"> {{element.tipo_comprobante}} </td>
        </ng-container>


        <ng-container matColumnDef="fecha_cancelacion">
            <th mat-header-cell *matHeaderCellDef> Fecha de Cancelacion </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha_cancelacion}} </td>
        </ng-container>

        <ng-container matColumnDef="accion1">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
                    [routerLink]="['edicion', element?.id]">Actualizar</button>
            </td>
        </ng-container>

        <ng-container matColumnDef="accion2">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="warn" (click)="confirmar(element.id)">Eliminar</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="example-button-container">

        <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon"
            routerLink="/home/page/compra/nuevo">
            <mat-icon>plus_one</mat-icon>
        </button>
    </div>

</div>