<div class="container">
    <div style=" text-align: center;">
        <h1 style="font-size: 80px; background-color: rgb(90, 0, 0);color: rgb(255, 255, 255)">Lista de Compras</h1>
    </div>



    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="Id_del_Cliente">
            <th mat-header-cell *matHeaderCellDef> Id del Cliente </th>
            <td mat-cell *matCellDef="let element"> {{element.id_Clientes}} </td>
        </ng-container>

        <ng-container matColumnDef="Cantidad_Total">
            <th mat-header-cell *matHeaderCellDef> Cantidad Total </th>
            <td mat-cell *matCellDef="let element"> {{element.cantidad_total}} </td>
        </ng-container>


        <ng-container matColumnDef="Precio_Total">
            <th mat-header-cell *matHeaderCellDef> Precio Total </th>
            <td mat-cell *matCellDef="let element"> {{element.precio_total}} </td>
        </ng-container>


        <ng-container matColumnDef="Peso_Total">
            <th mat-header-cell *matHeaderCellDef> Peso Total </th>
            <td mat-cell *matCellDef="let element"> {{element.peso_total}} </td>
        </ng-container>


        <ng-container matColumnDef="Id_del_Tipo_de_Comprobante">
            <th mat-header-cell *matHeaderCellDef> Id del Tipo de Comprobante </th>
            <td mat-cell *matCellDef="let element"> {{element.Tipo_Comprobante}} </td>
        </ng-container>


        <ng-container matColumnDef="Fecha_Cancelacion">
            <th mat-header-cell *matHeaderCellDef> Fecha de Cancelacion </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha_cancelacion}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="example-button-container">

        <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon"
            routerLink="/compra/nuevo">
            <mat-icon>plus_one</mat-icon>
        </button>
    </div>

</div>