<div class="container">

  <h1>Agregar Producto</h1>

  <mat-form-field class="example-full-width">
    <mat-label>Id</mat-label>
    <input matInput placeholder="id" [(ngModel)]="producto.id">
  </mat-form-field>

  <br>

  <mat-form-field class="example-full-width">
    <mat-label>Nombre</mat-label>
    <input matInput required placeholder="nombre" [(ngModel)]="producto.nombre">
  </mat-form-field>

  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Descripcion</mat-label>
    <input matInput required placeholder="descripcion" [(ngModel)]="producto.descripcion">
  </mat-form-field>

  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Stock</mat-label>
    <input matInput required placeholder="stock" [(ngModel)]="producto.stock">
  </mat-form-field>

  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Peso</mat-label>
    <input matInput required placeholder="peso" [(ngModel)]="producto.peso">
  </mat-form-field>

  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Precio Unitario</mat-label>
    <input matInput required placeholder="precio unitario" [(ngModel)]="producto.precio_unitario">
  </mat-form-field>
  <br>

  <mat-form-field class="example-full-width">
    <mat-label>Material</mat-label>
    <input matInput required placeholder="material" [(ngModel)]="producto.material">
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>Fecha de Creacion</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="fechaSeleccionada" [max]="maxFecha">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
  <br>

  <mat-form-field class="example-full-width">
    <mat-label>Lugar de Fabricacion</mat-label>
    <input matInput required placeholder="lugar de fabricacion" [(ngModel)]="producto.lugar_fabricacion">
  </mat-form-field>
  <br>

  <mat-form-field class="example-full-width">
    <mat-label>Tipo de Producto</mat-label>
    <input matInput required placeholder="tipo_producto" [(ngModel)]="producto.tipo_producto">
  </mat-form-field>
  <br>

  <mat-form-field class="example-full-width">
    <mat-label>Artesano</mat-label>
    <input matInput required placeholder="artesano" [(ngModel)]="producto.artesano">
  </mat-form-field>
  <br>


  <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
  <button mat-raised-button color="warn" routerLink="/home/page/producto">Cancelar</button>
  <p>{{mensaje}}</p>

</div>