.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .container {
    background-color: whitesmoke;
    opacity: 0.85;
    border: 1px solid black;
  }