<div class="container">
  <div>
    <h1>Lista de productos</h1>
    <div>
      <a routerLink="/home/page/producto/solicitudes-producto"><button class="btn_busqueda">Cantidad de Productos por Lugar</button></a>
      <a routerLink="/home/page/producto/productos-artesano"><button class="btn_busqueda">Productos por Artesano</button></a>
    </div>

  </div>

  <app-producto-buscar></app-producto-buscar>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="idProducto">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.idProducto}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nameProducto">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nameProducto}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="descripcionProducto">
      <th mat-header-cell *matHeaderCellDef> Descripción </th>
      <td mat-cell *matCellDef="let element"> {{element.descripcionProducto}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="stockProducto">
      <th mat-header-cell *matHeaderCellDef> Stock </th>
      <td mat-cell *matCellDef="let element"> {{element.stockProducto}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="pesoProducto">
      <th mat-header-cell *matHeaderCellDef> Peso </th>
      <td mat-cell *matCellDef="let element"> {{element.pesoProducto}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="precioProducto">
      <th mat-header-cell *matHeaderCellDef> Precio Unitario </th>
      <td mat-cell *matCellDef="let element"> {{element.precioProducto}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="materialProducto">
      <th mat-header-cell *matHeaderCellDef> Material </th>
      <td mat-cell *matCellDef="let element"> {{element.materialProducto}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="fechaProducto">
      <th mat-header-cell *matHeaderCellDef> Fecha de Creación </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaProducto}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="lugarfabricacionProducto">
      <th mat-header-cell *matHeaderCellDef> Lugar de Fabricación </th>
      <td mat-cell *matCellDef="let element"> {{element.lugarfabricacionProducto}} </td>
    </ng-container>

    <ng-container matColumnDef="tipoproductoProducto">
      <th mat-header-cell *matHeaderCellDef> Tipo de Producto </th>
      <td mat-cell *matCellDef="let element"> {{element.tipoproductoProducto.tipoTipoProducto}} </td>
    </ng-container>

    <ng-container matColumnDef="artesanoProducto">
      <th mat-header-cell *matHeaderCellDef> Artesano </th>
      <td mat-cell *matCellDef="let element"> {{element.artesanoProducto.usuario.nameUsuarios}} </td>
    </ng-container>

    <ng-container matColumnDef="accion1">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
          [routerLink]="['edicion', element?.idProducto]">Actualizar</button>

      </td>
    </ng-container>
    <ng-container matColumnDef="accion2">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="warn" (click)="confirmar(element.idProducto)">Eliminar</button>

      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <br>

  <div class="example-button-container">
    <button mat-mini-fab color="warn" aria-label="Example icon button with a plus one icon"
      routerLink="/home/page/producto/nuevo">
      <mat-icon>plus_one</mat-icon>
    </button>
  </div>