<div class="container">
  <div style=" text-align: center;">
    <h1 style="font-size: 80px; background-color: #FF8A05;color: rgb(255, 255, 255)">Lista de productos</h1>
  </div>

  <app-producto-buscar></app-producto-buscar>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef> Descripción </th>
      <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
    </ng-container>
    
      <!-- Position Column -->
  <ng-container matColumnDef="stock">
    <th mat-header-cell *matHeaderCellDef> Stock </th>
    <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
  </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="peso">
      <th mat-header-cell *matHeaderCellDef> Peso </th>
      <td mat-cell *matCellDef="let element"> {{element.peso}} </td>
    </ng-container>

      <!-- Position Column -->
  <ng-container matColumnDef="precio_unitario">
    <th mat-header-cell *matHeaderCellDef> Precio Unitario </th>
    <td mat-cell *matCellDef="let element"> {{element.precio_unitario}} </td>
  </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="material">
      <th mat-header-cell *matHeaderCellDef> Material </th>
      <td mat-cell *matCellDef="let element"> {{element.material}} </td>
    </ng-container>

      <!-- Position Column -->
  <ng-container matColumnDef="fecha_creacion">
    <th mat-header-cell *matHeaderCellDef> Fecha de Creación </th>
    <td mat-cell *matCellDef="let element"> {{element.fecha_creacion}} </td>
  </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="lugar_fabricacion">
      <th mat-header-cell *matHeaderCellDef> Lugar de Fabricación </th>
      <td mat-cell *matCellDef="let element"> {{element.lugar_fabricacion}} </td>
    </ng-container>

    <ng-container matColumnDef="accion1">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
          [routerLink]="['edicion', element?.id]">Actualizar</button>

      </td>
    </ng-container>
    <ng-container matColumnDef="accion2">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="warn" (click)="confirmar(element.id)">Eliminar</button>

      </td>
    </ng-container>


      <!-- Position Column -->
  <!--<ng-container matColumnDef="Tipo_Producto_id">
    <th mat-header-cell *matHeaderCellDef> ID del Tipo de Producto </th>
    <td mat-cell *matCellDef="let element"> {{element.Tipo_Producto_id}} </td>
  </ng-container>


    <ng-container matColumnDef="artesanos_usuario_id">
      <th mat-header-cell *matHeaderCellDef> ID Artesanos Usuario </th>
      <td mat-cell *matCellDef="let element"> {{element.artesanos_usuario_id}} </td>
    </ng-container>
  -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<div class="example-button-container">
<br>
  <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon"
    routerLink="/producto/nuevo">
    <mat-icon>plus_one</mat-icon>
  </button>
</div>

