<div class="container">
    <h1>Solicitud de diseño</h1>

    <mat-form-field class="example-full-width">
        <mat-label>Id</mat-label>
        <input matInput placeholder="id" [(ngModel)]="solicitud.id">
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
        <mat-label>Fecha</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="fechaSeleccionada" [max]="maxFecha">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
        <mat-label>Seleccione Pedido</mat-label>
        <mat-select [(value)]="idPedidoSeleccionado" required>
            <mat-option *ngFor="let p of listaPedidos" [value]="p.id">
                {{p.nombre}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
        <mat-label>Seleccione el nombre del artesano a cargo</mat-label>
        <mat-select [(value)]="idArtesanoSeleccionado" required>
            <mat-option *ngFor="let a of listaArtesanos" [value]="a.idArtesano">
                {{a.usuario.nameUsuarios}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
        <mat-label>Seleccione el nombre del cliente solicitante</mat-label>
        <mat-select [(value)]="idPedidoSeleccionado" required>
            <mat-option *ngFor="let c of listaClientes" [value]="c.idCliente">
                {{c.usuario.nameUsuarios}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <br>

    <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
    <button mat-raised-button color="warn" routerLink="/home/page/solicitud">Cancelar</button>
</div>