<div class="buscador" style="border: width 10px;">
    <div class="container">
        <mat-form-field class="example-full-width">
            <input matInput type="text" (keyup)="buscarArtesano($event)" placeholder="Ingrese nombre del artesano">
        </mat-form-field>
    </div>

    <div class="container">
        <mat-form-field class="example-full-width">
            <input matInput type="text" (keyup)="buscarCliente($event)" placeholder="Ingrese nombre del cliente">
        </mat-form-field>
    </div>

    <div class="container">
        <mat-form-field class="example-full-width">
            <input matInput type="text" (keyup)="buscarPedido($event)" placeholder="Ingrese nombre del pedido">
        </mat-form-field>
    </div>
</div>