<div class="container">
  <div style=" text-align: center;">
    <h1>Lista de pedidos</h1>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- 1 -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- 2 -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> NOMBRE </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <!-- 3 -->
    <ng-container matColumnDef="caracteristicas">
      <th mat-header-cell *matHeaderCellDef> DESCRIPCION </th>
      <td mat-cell *matCellDef="let element"> {{element.caracteristicas}} </td>
    </ng-container>

    <!-- 4 -->
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef> ESTADO </th>
      <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>