<div class="container">
  <h1>Lista de pedidos</h1>
  <app-pedido-buscar></app-pedido-buscar>
  <div>
    <a routerLink="/home/login/page/pedido/cantidadescliente"><button class="btn_busqueda">Cantidad de pedidos realizados por clientes</button></a>
</div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- 1 -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- 2 -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <!-- 3 -->
    <ng-container matColumnDef="caracteristicas">
      <th mat-header-cell *matHeaderCellDef> Descripción </th>
      <td mat-cell *matCellDef="let element"> {{element.caracteristicas}} </td>
    </ng-container>

    <!-- 4 -->
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef> Estado </th>
      <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
    </ng-container>

    <ng-container matColumnDef="accion1">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
          [routerLink]="['edicion', element?.id]">Actualizar</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="accion2">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="warn" (click)="confirmar(element.id)">Eliminar</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <br>
  
  <button mat-mini-fab color="warn" aria-label="Example icon button with a plus one icon"
    routerLink="/home/login/page/pedido/nuevo">
    <mat-icon>plus_one</mat-icon>
  </button>