<p>Usuarios-creaedita works!</p>
<div class="container">

    <h1>Registrar nuevo Usuario</h1>

    <mat-form-field class="example-full-width">
        <mat-label>Id</mat-label>
        <input matInput placeholder="Id" [(ngModel)]="Usuarios.id">
    </mat-form-field>

    <br>

    <mat-form-field class="example-full-width">
        <mat-label>correo</mat-label>
        <input matInput required placeholder="correo" [(ngModel)]="Usuarios.correo">
    </mat-form-field>

    <br>

    <mat-form-field class="example-full-width">
        <mat-label>contrasenia</mat-label>
        <input type="contrasenia" matInput required placeholder="contrasenia" [(ngModel)]="Usuarios.contrasenia">
    </mat-form-field>

    <br>

    <mat-form-field class="example-full-width">
        <mat-label>nombre</mat-label>
        <input type="nombre" matInput required placeholder="nombre" [(ngModel)]="Usuarios.nombre">
    </mat-form-field>

    <br>

    <mat-form-field class="example-full-width">
        <mat-label>apellidos</mat-label>
        <input type="apellidos" matInput required placeholder="apellidos" [(ngModel)]="Usuarios.apellidos">
    </mat-form-field>

    <br>

    <mat-form-field class="example-full-width">
        <mat-label>telefono</mat-label>
        <input type="telefono" matInput required placeholder="telefono" [(ngModel)]="Usuarios.telefono">
    </mat-form-field>

    <br>

    <mat-form-field class="example-full-width">
        <mat-label>direccion</mat-label>
        <input type="direccion" matInput required placeholder="direccion" [(ngModel)]="Usuarios.direccion">
    </mat-form-field>

    <br>
    <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
    <button mat-raised-button color="warn" routerLink="/usuario">Cancelar</button>
    <p>{{mensaje}}</p>

</div>