<div class="container">
    <div style=" text-align: center;">
      <h1>Lista de Detalles de Compra</h1>
    </div>

    <app-detalle-compra-buscar></app-detalle-compra-buscar>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="idCompra">
            <th mat-header-cell *matHeaderCellDef> Id de la Compra </th>
            <td mat-cell *matCellDef="let element"> {{element.idCompra.id}} </td>
        </ng-container>

        <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
            <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
        </ng-container>


        <ng-container matColumnDef="idProducto">
            <th mat-header-cell *matHeaderCellDef> Id del Producto </th>
            <td mat-cell *matCellDef="let element"> {{element.idProducto.nombre}} </td>
        </ng-container>


        <ng-container matColumnDef="precio_unitario">
            <th mat-header-cell *matHeaderCellDef> Precio Unitario </th>
            <td mat-cell *matCellDef="let element"> {{element.precio_unitario}} </td>
        </ng-container>

        <ng-container matColumnDef="accion1">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
                    [routerLink]="['edicion', element?.id]">Actualizar</button>
            </td>
        </ng-container>

        <ng-container matColumnDef="accion2">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="warn" (click)="confirmar(element.id)">Eliminar</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <br>

    <div class="example-button-container">

        <button mat-mini-fab color="warn" aria-label="Example icon button with a plus one icon"
            routerLink="/home/login/page/detallecompras/nuevo">
            <mat-icon>plus_one</mat-icon>
        </button>
    </div>

</div>