<div class="container">
    <h1>Lista de solicitudes de diseño</h1>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- 1 -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- 2 -->
        <ng-container matColumnDef="cliente">
            <th mat-header-cell *matHeaderCellDef> Cliente </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- 3 -->
        <ng-container matColumnDef="artesano">
            <th mat-header-cell *matHeaderCellDef> Artesano </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- 4 -->
        <ng-container matColumnDef="pedido">
            <th mat-header-cell *matHeaderCellDef> Pedido </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- 5 -->
        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha de solicitud </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>