<div class="container">
    <h1>Lista de solicitudes de diseño</h1>
    <div>

        <a routerLink="/home/page/solicitud/cantidadproxsol"><button class="btn_busqueda">Número de solicitudes de
                cada provincia</button></a>
        <a routerLink="/home/page/solicitud/solicitudes-artesanos"><button class="btn_busqueda">Número de solicitudes de
                cada artesano</button></a>
        <a routerLink="/home/page/solicitud/solicitudes-mas-recientes"><button class="btn_busqueda">Solicitudes de
                diseño más recientes</button></a>
    </div>
    <app-solicitud-disenio-buscar></app-solicitud-disenio-buscar>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- 1 -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- 2 -->
        <ng-container matColumnDef="artesano">
            <th mat-header-cell *matHeaderCellDef> Artesano </th>
            <td mat-cell *matCellDef="let element"> {{element.artesano.usuario.nameUsuarios}} </td>
        </ng-container>

        <!-- 3 -->
        <ng-container matColumnDef="cliente">
            <th mat-header-cell *matHeaderCellDef> Cliente </th>
            <td mat-cell *matCellDef="let element"> {{element.cliente.usuario.nameUsuarios}} </td>
        </ng-container>

        <!-- 4 -->
        <ng-container matColumnDef="pedido">
            <th mat-header-cell *matHeaderCellDef> Pedido </th>
            <td mat-cell *matCellDef="let element"> {{element.pedido.nombre}} </td>
        </ng-container>

        <!-- 5 -->
        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha de solicitud </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
        </ng-container>

        <ng-container matColumnDef="accion1">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
                    [routerLink]="['edicion', element?.id]">Actualizar</button>
            </td>
        </ng-container>

        <ng-container matColumnDef="accion2">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="warn" (click)="confirmar(element.id)">Eliminar</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <br>

    <button mat-mini-fab color="warn" aria-label="Example icon button with a plus one icon"
        routerLink="/home/page/solicitud/nuevo">
        <mat-icon>plus_one</mat-icon>
    </button>