
<header>
    <a href="" class="logo">
        <img src="https://dewey.tailorbrands.com/production/brand_version_mockup_image/670/7808821670_c4f7584e-d020-4026-af63-9e85ae050b0c.png?cb=1663967435"
            alt="logo de la compañia">
    </a>
    <nav id="dis">
        <a routerLink="/usuarios-listar" class="nav-link">Usuarios</a>
        <a routerLink="/pedido" class="nav-link">Pedido</a>
        <a href="" class="nav-link">Producto</a>
        <a href="" class="nav-link">Tipo de Producto</a>
        <a href="" class="nav-link">Tipo comprobante</a>
    </nav>
</header>


<br>

<router-outlet></router-outlet>
<br>



<!--<br>
<app-artesanos-listar></app-artesanos-listar>
<br>
<app-clientes-listar></app-clientes-listar>
<br>
<app-producto-listar></app-producto-listar>-->


